@media (max-width:1300px) {
/* .hero {
  background-color: #eee;
} */

  #header h5 {
    margin-left: -410px;
  }

  .sm-banner .banner-box {
    min-width: 100%;
    height: 30vh;
    margin-bottom: 20px;
  }
}

@media (max-width:1200px) {
  .hero {
    background-image: url(../img/young-african-american-woman-shopping-with-colorful-packs-black-wall.png);
    background-position: center;
  } 

  #header h5 {
    margin-left: -240px;
  }

  .feature {
    flex-wrap: nowrap;
  }

  .product1 .pro-container {
    display: flex;
    justify-content: center;
  
  }

  .sm-banner .banner-box {
    min-width: 100%;
    height: 30vh;
    margin-bottom: 20px;
  }

  .newsletter .form {
    width: 70%;
  }
}


/* Media Query for large screen size */
/* Media Query for  (max-width: 900px)screen size */


@media (max-width:900px) {

  .hero {
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0.615), rgba(255, 255, 255, 0.478)), url(../img/young-african-american-woman-shopping-with-colorful-packs-black-wall.png);
    background-position: center;
  }

  #header h5 {
    margin-left: -10px;
  }


  .hero h1 {
    font-size: 45px;
  }

  .hero p {
    font-size: 25px;
  }
  #header h5 {
    margin-right: 40px;
  }

  .feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .sm-banner .banner-box {
    min-width: 100%;
    height: 30vh;
    margin-bottom: 20px;
  }

   .banner3 {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin-right: 60px;
  }

  .banner3 .banner-box {
   margin-left: 10px;
   min-width: 35%;
  }

  .newsletter .form {
    width: 70%;
  }
}

/* Media Query for medium screen size */
/* Media Query for  (max-width: 835px)screen size */

 
 @media (max-width: 835px) {
  .about-head {
    flex-direction: column;
  }

  #header h5 {
    /* margin-right: -30px; */
    white-space: nowrap;
  }

  .about-head img {
    width: 100%;
    margin-bottom: 20px;
  }

  .about-head div {
    padding-left: 0px;
  }

  .about-app .video {
    width: 100%;
  }
 }

 @media (max-width:830px) {
  #header, a img {
    margin-right: -1px;
  }
  


  .hero {
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0.615), rgba(255, 255, 255, 0.478)), url(../img/young-african-american-woman-shopping-with-colorful-packs-black-wall.png);
    background-position: center;
  }
  
  .feature {
    justify-content: center;
    flex-wrap: wrap;
  }

  .feature .fe-box {
    margin: 15px 15px;
  }

  .product1 .pro-container {
    justify-content: center;
  }

  .product1 .pro {
    margin: 15px;
  }
 }

@media (max-width: 803px) {
  .hero {
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0.615), rgba(255, 255, 255, 0.478)), url(../img/young-african-american-woman-shopping-with-colorful-packs-black-wall.png);
    background-position: center;
  }

  #header, a img {
    margin-right: -2px;
  }


  .hero h2 {
    font-size: 40px;
    /* line-height: 16px; */
  }
  .hero h1 {
    font-size: 40px;
  }
  .hero p {
    font-size: 25px;
  }
}

/* Media Query for medium screen size */
/* Media Query for  (max-width: 799px)screen size */

@media (max-width: 799px) {
  .section-p1 {
    padding: 40px 40px;
  }
  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 300px;
    background-color: #e3e6f3;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 80px 0 0 10px;
    transition: 0.3s;
  }

  #header h5 {
    margin-left: -330px;
  }

  #navbar.active {
    right: 0px;
  }
  #navbar li {
    margin-bottom: 25px;
  }

  #mobile {
    display: flex;
    align-items: center;
  }

  #mobile i {
    color: #1a1a1a;
    font-size: 25px;
    padding-left: 20px;
  }

  #close {
    display: initial;
    position: absolute;
    top: -2px;
    left: 20px;
    font-size: 25px;
    color: #222;
  }

  #shop-bag {
    display: none;
  }

  /* home-page */

  .hero {
    height: 70vh;
    padding: 0 80px;
    background-position: top 30% right 30%;
  }

  .hero {
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0.615), rgba(255, 255, 255, 0.478)), url(../img/young-african-american-woman-shopping-with-colorful-packs-black-wall.png);
    background-position: center;
  }

  .feature {
    justify-content: center;
    flex-wrap: wrap;
  }

  .feature .fe-box {
    margin: 15px 15px;
  }

  .product1 .pro-container {
    justify-content: center;
  }

  .product1 .pro {
    margin: 15px;
  }

  .banner {
    height: 20vh;
  }

  .sm-banner .banner-box {
    min-width: 100%;
    height: 30vh;
  }

  .sm-banner .banner-box2 {
    margin-top: 20px;
  }

  .banner3 {
    padding: 0 40px;
  }

  .banner3 .banner-box {
    width: 28%;
  }

  .newsletter .form {
    width: 70%;
  }

  /* shop.blog */
  /* .page-header {
    height: 30vh;
  } */

  /* single product */

  .product-details {
    display: flex;
    flex-direction: column;
  }

  .product-details .single-product-image {
    width: 100%;
    margin-right: 0px;
  }

  .product-details .single-product-detils {
    width: 100%;
  }

  /* contact-page */

  .form-details {
    padding: 40px;
  }

  .form-details form {
    width: 50%;
  }
}



@media (max-width: 701px) {
  .hero h2 {
    font-size: 36px;
    /* line-height: 16px; */
  }
  .hero h1 {
    font-size: 36px;
  }
}


/* Media Query for medium screen size */
/* Media Query for  (max-width: 623px)screen size */


@media (max-width: 623px) {
  h4 {
    font-size: 12px;
  }

  .hero h2 {
    font-size: 35px;
  }
  .hero h1 {
    font-size: 35px;
  }
}

@media (max-width: 610px) {
  h4 {
    font-size: 12px;
  }

  .hero h2 {
    font-size: 30px;
  }
  .hero h1 {
    font-size: 30px;
  }
}

@media (max-width: 547px) {
  .hero h2 {
    font-size: 28px;
  }
  .hero h1 {
    font-size: 28px;
  }
}

@media (max-width: 520px) {
  .hero h2 {
    font-size: 20px;
  }
  .hero h1 {
    font-size: 20px;
  }
}



/* Media Query for smaller screen size */
/* Media Query for  (max-width: 477px)screen size */


@media (max-width: 477px) {
  /* home-page */
  .section-p1 {
    padding: 20px;
  }
  .header {
    padding: 10px 30px;
  }
  #header img {
    margin-left: -80px;
  }
  #header h5 {
    margin-left: -90px;
  }

  .hero {
    padding: 0 20px;
  }

  .hero h2 {
    font-size: 26px;
    line-height: 28px;
  }

  .hero h1 {
    font-size: 26px;
  }

  .hero button {
    padding: 7px 28px 7px 28px;
    font-size: 10px;
  }

  .feature {
    justify-content: space-between;
  }

  .feature .fe-box {
    width: 155px;
    margin: 0 0 15px 0;
  }

  .product1 h2 {
    font-size: 30px;
  }

  .product1 .pro {
    width: 100%;
  }

  .banner {
    height: 30vh;
  }

  .banner h2 {
    font-size: 20px;
    padding: 5px 0;
  }

  button.normal.champ {
    font-size: 12px;
    padding: 15px 20px;
  }

  .sm-banner .banner-box {
    height: 30vh;
    /* height: 40vh; */
  }

  .sm-banner .banner-box2 {
    margin-top: 20px;
  }

  .banner3 {
    display: flex;
    flex-direction: column;
  }

  .banner3 .banner-box {
    width: 100%;
  
  }

  .newsletter {
    padding: 10px 10px;
  }

  .newsletter .form {
    width: 100%;
  }

  .newsletter p span {
    white-space: nowrap;
  }

  /* Blog-page */

  .blog {
    padding: 100px 20px 0 20px;
  }

  .blog .blog-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .blog .blog-img {
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }

  .blog .blog-details {
    width: 100%;
  }

  /* About page  */

  .about-head {
    flex-direction: column;
  }

  .about-head img {
    width: 100%;
    margin-bottom: 20px;
  }

  .about-head div {
    padding-left: 0px;
  }

  .about-app .video {
    width: 100%;
  }

  /* contact-page  */

  .contact-details {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
  }

  .contact-details .details {
    width: 100%;
    margin-bottom: 30px;
  }

  .contact-details .map {
    width: 100%;
    margin: 0 100px 0 0;
  }

  .form-details {
    padding: 30px 10px;
    margin: 10px;
    flex-wrap: wrap;
  }

  .form-details form {
    width: 100%;
    margin-bottom: 30px;
  }

  /* cart-page */

  .cart-add {
    flex-direction: column;
  }

  .coupon {
    width: 100%;
  }

  .subtotal {
    width: 100%;
    padding: 20px;
  }
}

@media (max-width: 500px) {
  .hero {
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0.615), rgba(255, 255, 255, 0.478)), url(../img/young-african-american-woman-shopping-with-colorful-packs-black-wall.png);
    background-position: center;
  }
  .hero p {
    font-size: 18px;
  }
}


/* Media Query for smaller screen size */
/* Media Query for  (max-width: 427px)screen size */


@media (max-width: 427px) {
  .hero {
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0.615), rgba(255, 255, 255, 0.478)), url(../img/young-african-american-woman-shopping-with-colorful-packs-black-wall.png);
    background-position: center;
    
  }

  #header h5 {
    margin-left: -110px;
  }
  
  .banner {
    height: 20vh;
  }

 }

@media (max-width: 413px) {
  .hero {
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0.615), rgba(255, 255, 255, 0.478)), url(../img/young-african-american-woman-shopping-with-colorful-packs-black-wall.png);
    background-position: center;
  }

  .hero p {
    white-space: nowrap;
  }
}


 @media (max-width: 400px) {
  .hero {
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0.615), rgba(255, 255, 255, 0.478)), url(../img/young-african-american-woman-shopping-with-colorful-packs-black-wall.png);
    background-position: center;
    white-space: nowrap;
  }
   .hero h1 {
    font-size: 24px;
  }

}




/* Media Query for smaller screen size */
/* Media Query for  (max-width: 350px)screen size */

@media (max-width:395px) {

  .hero {
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0.615), rgba(255, 255, 255, 0.478)), url(../img/young-african-american-woman-shopping-with-colorful-packs-black-wall.png);
    background-position: center;
  }
  
  #header h5 {
    margin-left: -100px;

  }
}

@media (max-width: 370px) {
  #header h5 {
    margin-right: 150px;
  }
  
  h4 {
    font-size: 12px;
    color: #222;
  }
  .hero h2 {
    font-size: 18px;
  }
  .hero h1 {
    font-size: 16px;
  }

  /* features */
  .feature {
    justify-content: center;
  }
  .feature .fe-box {
    width: 185px;
    margin: 0 0 15px 0;
  }
  .product1 h2 {
    font-size: 23px;
  }
}

@media (max-width: 365px) {
  .hero {
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0.615), rgba(255, 255, 255, 0.478)), url(../img/young-african-american-woman-shopping-with-colorful-packs-black-wall.png);
    background-position: center;
  }

  #header h5 {
    margin-left: -10px;
    white-space: nowrap;
  }

   
  #mobile, i bx {
    /* color: #1a1a1a;
    font-size: 25px;
    padding-left: 20px; */
    margin-left: -120px;
  }

  .hero p {
    font-size: 16px;
  }

  .feature {
    justify-content: space-between;
  }

  .feature .fe-box {
    width: 155px;
    margin: 0 0 15px 0;
  }

  /* about */

  .about-app h1   {
    font-size: 30px
  }
}


